.env
.env.*
!.env.example
node_modules/
vendor/
public/build/
public/hot
public/storage
storage/*.key
storage/app/
storage/framework/cache/
storage/framework/sessions/
storage/framework/testing/
storage/logs/
bootstrap/cache/
.git/
.github/
.gitignore
.gitattributes
Dockerfile
docker/
docker-compose*.yml
*.sh
tests/
docs/
README.md
phpunit.xml
.phpunit.cache/
.phpunit.result.cache
.editorconfig
.styleci.yml
phpdoc.dist.xml
_ide_helper*.php
.phpactor.json
